.react-datepicker-wrapper {
  flex: 1;
}

.react-datepicker__input-container {
  input {
    outline: none !important;
    color: #334155;
    font-size: 14px;

    &::placeholder {
      color: #94a3b8;
    }
  }
}

.react-datepicker-ignore-onclickoutside {
  outline: none;

  &:active {
    outline: none;
  }

  &:focus-within {
    outline: none;
  }

  &:focus-visible {
    outline: none !important;
  }

  &:target {
    outline: none;
  }

  &:visited {
    outline: none;
  }
}
